* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a, u {
  text-decoration: none;
  color: #000;
}

ol, ul {
  list-style: none;
}

i, em {
  font-style: normal;
}

b, strong {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal;
}

input {
  border: 0;
  outline: none;
}

html, body {
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.topbanner .container {
  overflow: hidden;
}

header {
  background-color: #fff;
}

header .menu {
  width: 100%;
  height: 35px;
  background-color: #f9f9f9;
}

header .menu .container {
  font-size: 12px;
  padding-top: 10px;
}

header .menu .container ul {
  float: right;
  display: flex;
}

header .menu .container ul .red {
  color: red;
}

header .menu .container ul > span {
  padding: 0 10px;
}

header .menu .container ul li {
  padding: 0 10px;
  border-left: 1px solid #ccc;
}

header .menu .container ul .iconfont {
  vertical-align: middle;
}

header .search .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

header .search .container .sousuo {
  margin-left: -50px;
  margin-top: 28px;
}

header .search .container .sousuo .top {
  position: relative;
}

header .search .container .sousuo .top input {
  width: 450px;
  height: 40px;
  border: 1px solid red;
  padding-left: 20px;
}

header .search .container .sousuo .top .classify {
  position: absolute;
  top: 1px;
  right: 0px;
  width: 100px;
  line-height: 38px;
  color: #a39696;
  background-color: #f6f6f6;
  text-align: center;
}

header .search .container .sousuo .top .icon-31sousuo {
  position: absolute;
  top: 0;
  right: -50px;
  display: inline-block;
  width: 50px;
  line-height: 40px;
  background-color: red;
  outline: none;
  color: white;
  text-align: center;
  font-size: 30px;
}

header .search .container .sousuo .bottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
  color: #969696;
}

header .search .container .shoppingcar {
  display: flex;
  text-align: center;
}

header .search .container .shoppingcar div:nth-child(1) {
  width: 120px;
  line-height: 36px;
  background-color: red;
  color: white;
}

header .search .container .shoppingcar div:nth-child(1) .icon-gouwugouwuchedinggou {
  font-size: 26px;
}

header .search .container .shoppingcar div:nth-child(2) {
  width: 100px;
  line-height: 36px;
  border: 2px solid #ccc;
  border-left: none;
}

header .nav {
  margin-top: 20px;
}

header .nav .container {
  line-height: 40px;
  display: flex;
}

header .nav .container div {
  width: 200px;
  background-color: red;
  color: white;
  font-weight: 700;
  padding-left: 20px;
}

header .nav .container div .icon-xiala {
  padding-left: 30px;
}

header .nav .container ul {
  display: flex;
}

header .nav .container ul li {
  font-weight: 700;
  padding-left: 30px;
}

header .separator {
  margin-top: 1px;
  width: 100%;
  background-color: red;
  height: 2px;
}

.countdown .container {
  display: flex;
  margin-top: 30px;
}

.countdown .container .left {
  width: 1000px;
}

.countdown .container .left .time {
  display: flex;
  line-height: 50px;
  border-bottom: 2px solid black;
}

.countdown .container .left .time img {
  height: 46px;
}

.countdown .container .left .time .iconfont {
  font-size: 30px;
  padding: 0 5px 0 15px;
}

.countdown .container .left .time .numtime span:nth-child(odd) {
  display: inline-block;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #ccc;
}

.countdown .container .left .time ul {
  display: flex;
}

.countdown .container .left .time ul li {
  padding-left: 80px;
  font-weight: 700;
  font-size: 18px;
}

.countdown .container .left .goodslist {
  display: flex;
  flex-wrap: wrap;
}

.countdown .container .left .goodslist .good {
  width: 200px;
  height: 220px;
  border: 1px solid #ccc;
  padding: 12px 10px;
  margin-left: -1px;
  margin-top: -1px;
}

.countdown .container .right .wenzi {
  display: flex;
  justify-content: space-between;
  width: 200px;
  line-height: 50px;
  border-bottom: 2px solid red;
}

.countdown .container .right .wenzi div:nth-child(1) {
  color: red;
  font-weight: 700;
  font-size: 18px;
}

.countdown .container .right .wenzi div:nth-child(2) span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
  margin-right: 5px;
}

.countdown .container .right .content {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
}

.countdown .container .right .content img {
  height: 110px;
  border: 1px solid #ccc;
  margin-top: -1px;
}

.list .container {
  display: flex;
  justify-content: space-between;
  height: 486px;
}

.list .container .left {
  background-color: #fafafa;
  width: 200px;
  font-size: 14px;
}

.list .container .left li {
  padding-top: 10px;
  padding-left: 20px;
}

.list .container .center {
  flex: 1;
}

.list .container .center .swiper1 {
  position: relative;
  width: 796px;
  height: 326px;
}

.list .container .center .swiper1 .imgs img {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.list .container .center .swiper1 .imgs .active {
  display: block;
}

.list .container .center .swiper1 .spans {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.list .container .center .swiper1 .spans span {
  display: inline-block;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  margin: 0 2px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  text-align: center;
}

.list .container .center .swiper1 .spans .active {
  background-color: red;
}

.list .container .center .swiper1 .left1 {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 80px;
  background: rgba(0, 0, 0, 0.2);
}

.list .container .center .swiper1 .left1 img {
  margin-top: 18px;
}

.list .container .center .swiper1 .right1 {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 80px;
  background: rgba(0, 0, 0, 0.2);
}

.list .container .center .swiper1 .right1 img {
  margin-top: 18px;
}

.list .container .center .swiper2 {
  position: relative;
  font-size: 22px;
  color: white;
}

.list .container .center .swiper2 div:nth-child(2) {
  display: none;
}

.list .container .center .swiper2 .icon-xiangzuojiantou {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  line-height: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.list .container .center .swiper2 .icon-xiangyoujiantou {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  line-height: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.list .container .center .swiper2 img {
  width: 24%;
}

.list .container .right {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list .container .right .msg div:nth-child(1) {
  display: flex;
}

.list .container .right .msg div:nth-child(1) span {
  width: 49%;
  text-align: center;
  line-height: 40px;
}

.list .container .right .msg div:nth-child(1) .gray {
  background-color: #f0f0f0;
}

.list .container .right .msg div:nth-child(2) {
  font-size: 12px;
  color: red;
  line-height: 24px;
  padding-left: 10px;
}

.book .container {
  display: flex;
  justify-content: space-between;
  height: 525px;
  margin-top: 30px;
}

.book .container .left {
  width: 920px;
}

.book .container .left .msg {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  border-bottom: 2px solid black;
}

.book .container .left .msg div {
  font-weight: 700;
  font-size: 18px;
}

.book .container .left .msg ul {
  display: flex;
}

.book .container .left .msg ul li {
  width: 100px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #eceaea;
}

.book .container .left .detail {
  margin-top: 10px;
  display: flex;
  height: 460px;
}

.book .container .left .detail .bar {
  position: relative;
  border: 1px solid #ccc;
}

.book .container .left .detail .bar img {
  width: 220px;
}

.book .container .left .detail .bar ul {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  font-size: 12px;
  line-height: 24px;
  background-color: #fff;
}

.book .container .left .detail .bar ul li {
  width: 33%;
  padding-left: 8px;
}

.book .container .left .detail .barside {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  font-size: 12px;
  border: 1px solid #ccc;
  margin-left: -1px;
}

.book .container .left .detail .barside > img {
  height: 220px;
}

.book .container .left .detail .barside .good {
  display: flex;
  flex-direction: column;
  height: 230px;
  padding: 10px;
  line-height: 20px;
}

.book .container .right {
  width: 260px;
  border: 1px solid #ccc;
}

.book .container .right .title {
  line-height: 52px;
  display: flex;
}

.book .container .right .title span {
  width: 50%;
  text-align: center;
}

.book .container .right .title span:nth-child(2) {
  background-color: #eceaea;
}

.book .container .right ul {
  margin-top: 10px;
}

.book .container .right ul li {
  font-size: 12px;
  height: 33px;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.book .container .right ul li img {
  vertical-align: top;
  height: 100px;
}

.book .container .right ul li span:nth-child(2) {
  padding-left: 10px;
}

.book .container .right ul li:last-child {
  border: none;
}

.book .container .right ul li .item {
  display: none;
  float: left;
}

.book .container .right ul li .item span:nth-child(1) {
  vertical-align: top;
}

.book .container .right ul li .item span:nth-child(3) {
  display: inline-block;
  width: 120px;
}

.book .container .right ul li:nth-child(1) {
  height: 133px;
}

.book .container .right ul li:nth-child(1) .bar {
  display: none;
}

.book .container .right ul li:nth-child(1) .item {
  display: block;
}

.tuijian .container {
  margin-top: 30px;
  height: 300px;
}

.tuijian .container h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  border-bottom: 2px solid black;
}

.tuijian .container .tuijian_list {
  margin-top: 20px;
  display: flex;
  border: 1px solid #ccc;
}

.tuijian .container .tuijian_list .list {
  margin-left: 40px;
  margin-top: 20px;
  width: 150px;
  height: 250px;
}

.tuijian .container .tuijian_list .list .item {
  width: 150px;
  height: 250px;
  margin-right: 47px;
  margin-bottom: 16px;
  font-size: 12px;
}

.tuijian .container .tuijian_list .list .item .pic img {
  width: 150px;
  height: 150px;
}

.tuijian .container .tuijian_list .list .item .name {
  padding: 7px 20px 0;
  height: 25px;
  line-height: 18px;
  overflow: hidden;
}

.tuijian .container .tuijian_list .list .item .author {
  padding: 0 20px;
  height: 24px;
  line-height: 24px;
  color: #aaa;
  overflow: hidden;
}

.tuijian .container .tuijian_list .list .item .price {
  color: #c30;
  font-weight: 700;
  padding-left: 20px;
  line-height: 16px;
  font-size: 14px;
}

.service div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 100px;
  border-top: 2px solid red;
  border-bottom: 1px solid #ccc;
}

.service div:first-child img {
  height: 50px;
  margin-left: 50px;
}

.service div:last-child {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 150px;
  border-bottom: 1px solid #ccc;
}

.service div:last-child ul {
  text-align: center;
  padding: 0 50px;
}

.service div:last-child ul li {
  font-size: 12px;
  line-height: 20px;
}

.service div:last-child ul li:first-child {
  margin-top: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 12px;
  line-height: 24px;
  color: #8c8c8c;
  margin-top: 20px;
}

footer ul {
  list-style: none;
  display: flex;
}

footer ul li {
  padding: 0 20px;
  border-right: 1px solid #8c8c8c;
}

footer ul li:last-child {
  border: none;
}

footer div:nth-child(2) {
  padding: 30px 0 15px 0;
}

footer div:nth-child(7) {
  margin: 30px 0;
}

footer div:nth-child(7) img {
  height: 50px;
  margin-right: 20px;
}

.righttopfixed {
  position: fixed;
  top: 0;
  right: 0;
}

.righttopfixed img {
  vertical-align: bottom;
}

.righttopfixed div {
  width: 34px;
  line-height: 34px;
  text-align: center;
  background-color: #474747;
  color: white;
  font-size: 22px;
}

.bottomadv {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 140px;
  background: rgba(0, 0, 0, 0.5);
}

.bottomadv img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.bottomadv span {
  position: absolute;
  top: 5px;
  left: 1200px;
  font-size: 30px;
  color: white;
}
