@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a, u {
  text-decoration: none;
  color: #000;
}

ol, ul {
  list-style: none;
}

i, em {
  font-style: normal;
}

b, strong {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal;
}

input {
  border: 0;
  outline: none;
}

html, body {
  height: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 35px;
  background-color: #f9f9f9;
}

header .container {
  font-size: 12px;
  line-height: 12px;
  padding-top: 12px;
}

header .container ul {
  float: right;
  display: flex;
}

header .container ul .red {
  color: red;
  font-weight: 700;
}

header .container ul > span {
  padding: 0 10px;
}

header .container ul li {
  padding: 0 10px;
  border-left: 1px solid #ccc;
}

header .container ul .iconfont {
  vertical-align: middle;
}

.logo_line {
  width: 100%;
  border-bottom: 4px solid #ff2832;
  height: 100px;
}

.logo_line .container {
  display: flex;
  justify-content: space-between;
}

.logo_line .container .logo {
  padding: 20px 0 0 15px;
}

.logo_line .container .shopping_procedure {
  display: flex;
  width: 634px;
  line-height: 36px;
  background: url(../images/购物车/procedure_bg.png) 0 0 no-repeat;
  color: #646464;
  margin: 30px 0 0;
}

.logo_line .container .shopping_procedure span.current {
  color: #fff;
  width: 206px;
}

.logo_line .container .shopping_procedure span {
  width: 211px;
  display: inline-block;
  text-align: center;
}

.add_line {
  width: 100%;
  background-color: #fafafa;
  font-size: 12px;
}

.add_line .container .address {
  height: 22px;
  line-height: 22px;
  margin: 15px 0;
  background-color: #fcfcfc;
  border: 1px solid #ebebeb;
  padding: 0 15px;
  border-radius: 12px;
  display: inline-block;
}

.add_line .container .address .select_add {
  color: #646464;
  border: 1px solid #ebebeb;
  height: 22px;
  padding: 0 14px 0 5px;
}

.shoppingcart .container .shoppingtitle {
  display: flex;
  height: 36px;
  line-height: 36px;
  margin-top: 10px;
}

.shoppingcart .container .shoppingtitle .t1 {
  width: 202px;
  text-align: left;
}

.shoppingcart .container .shoppingtitle .t2 {
  width: 280px;
  text-align-last: left;
}

.shoppingcart .container .shoppingtitle .t3 {
  width: 130px;
  text-align: center;
}

.shoppingcart .container .shoppingtitle .t4 {
  width: 70px;
  text-align: center;
}

.shoppingcart .container .shoppingbag .store {
  padding: 10px 20px;
}

.shoppingcart .container .shoppingbag .store img {
  vertical-align: middle;
}

.shoppingcart .container .shoppingbag .shoppinglist {
  border: 1px solid #ebebeb;
  background-color: #fafafa;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods {
  display: flex;
  height: 120px;
  border-bottom: 1px solid #ebebeb;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .red {
  color: red;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .select {
  padding-left: 10px;
  width: 42px;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .select input {
  vertical-align: middle;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .pic {
  padding: 20px 20px 20px 0;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .pic img {
  width: 80px;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .row_name {
  width: 330px;
  line-height: 18px;
  text-align-last: left;
  padding-top: 17px;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .row_name .name {
  display: block;
  width: 100%;
  height: 36px;
  margin-bottom: 27px;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .row_name .red {
  font-size: 12px;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .perprice {
  width: 130px;
  margin-left: 50px;
  font-size: 14px;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .perprice div {
  padding-top: 17px;
  color: #636363;
  margin-bottom: 10px;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .perprice .cuxiao {
  display: inline-block;
  width: 50px;
  padding: 0  8px;
  border: 1px solid red;
  color: red;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .amount {
  position: relative;
  display: flex;
  border: 1px solid #dcdcdc;
  height: 30px;
  width: 94px;
  line-height: 30px;
  font-size: 14px;
  margin-top: 17px;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .amount span {
  display: block;
  height: 28px;
  width: 28px;
  text-align: center;
  background-color: #f4f4f4;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .amount input {
  width: 36px;
  height: 30px;
  text-align: center;
  border: 1px solid #dcdcdc;
  font-weight: 700;
  margin-top: -1px;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .sum {
  padding-top: 17px;
  padding-left: 40px;
  font-size: 14px;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .sum span {
  width: 50px;
  display: inline-block;
  overflow: hidden;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods .caozuo {
  padding-top: 17px;
  padding-left: 40px;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
}

.shoppingcart .container .shoppingbag .shoppinglist .goods:last-child {
  border-bottom: none;
}

.shoppingcart .container .shoppingbag .storetotal {
  display: flex;
  height: 50px;
  line-height: 50px;
  font-weight: 700;
  border: 1px solid #ebebeb;
  border-top: none;
  margin-bottom: 30px;
}

.shoppingcart .container .shoppingbag .storetotal .text {
  font-size: 12px;
  margin-left: 50px;
}

.shoppingcart .container .shoppingbag .storetotal .storesum {
  color: red;
  padding-left: 650px;
}

.shoppingsum .container {
  display: flex;
  height: 60px;
  line-height: 60px;
  background-color: #eee;
  font-size: 12px;
  color: #636363;
}

.shoppingsum .container .checkall {
  font-size: 18px;
  margin-left: 30px;
}

.shoppingsum .container .checkall input {
  vertical-align: middle;
}

.shoppingsum .container .del {
  padding: 0 80px 0 30px;
  color: #000;
}

.shoppingsum .container .msg span {
  color: red;
  font-size: 16px;
  font-weight: 700;
}

.shoppingsum .container .sumbox {
  padding-left: 240px;
  text-align: center;
}

.shoppingsum .container .sumbox .sum {
  height: 30px;
  line-height: 30px;
  display: flex;
}

.shoppingsum .container .sumbox .sum span:nth-child(2) {
  color: red;
  font-size: 20px;
  font-weight: 700;
  width: 120px;
}

.shoppingsum .container .sumbox .save {
  height: 30px;
  line-height: 30px;
}

.shoppingsum .container .pay {
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: red;
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 5px;
}

footer {
  border-top: 2px solid red;
  margin-top: 40px;
}

footer .container {
  font-size: 12px;
  color: #636363;
  text-align: center;
  padding: 30px 0;
}
