@font-face {
  font-family: "iconfont"; /* Project id 3411420 */
  src: url('iconfont.woff2?t=1652865793136') format('woff2'),
       url('iconfont.woff?t=1652865793136') format('woff'),
       url('iconfont.ttf?t=1652865793136') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhifubao:before {
  content: "\e607";
}

.icon-weixin:before {
  content: "\e608";
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-baidu:before {
  content: "\e612";
}

.icon-shejiaotubiao-42:before {
  content: "\e647";
}

